body {
  background: cadetblue;
  font-family: Arial, HeLvetica, sans-serf;
}
h1 {
  color: black;
  text-align; center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: white;
}
.assign img {
  width: 200px;
  padding: 10px;
}
